<form action="/register" method="POST">
<div>
    <input type="text" name="firstName" placeholder="First Name">
</div>
<div>
    <input type="text" name="lastName" placeholder="Last Name">
</div>
<div>
    <input type="email" name="email" placeholder="email">
</div>
<div>
    <input type="number" name="mobile" placeholder="mobile no.">
</div>
<div>
    <input type="password" name="password" placeholder="password">
</div>
<div>
    <input type="password" name="confirmPassword" placeholder="re-enter password">
</div>
<div>
    <input type="submit" value="Register">
</div>

</form>